<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
        <title><%= yield(:title) %> | Welcome to the Book Management</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The <a href="https://vnukbm.herokuapp.com"><em>Book Management Application</em></a> 
    </p>
  </body>
</html>