<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
        <title><%= yield(:title) %> | Welcome to the Book Management</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Nothing here...
    </p>
  </body>
</html>