<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="book_form">
        <%= render 'shared/book_form' %>
      </section>
    </aside>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to the Book Management</h1>

  <h2>
    This is the home page for the
    <a href="https://vnukbm.herokuapp.com/">Book Management</a>
    application.
  </h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
